.main_panel_bcqrd{
      /* -fx-background-image: url("../../img/1.jpg");
      -fx-background-image-repeat:  no-repeat;
      -fx-background-position:CENTER_LEFT;
      -fx-background-size:    stretch; */

}
